.Hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    width: 70vw;
    padding-bottom: 15vh;
  }

  h1 {
    font-size: calc(6vw + 3vh);
    font-weight: bold;
    margin-bottom: 7vh;
  }

  h2 {
    font-size: calc((6vw + 3vh) * 0.12 + 10px);
  }
}
